
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*START*/
body{
	font-size:15px;
	font-family: 'Spartan', sans-serif;
	background-image: url(bg-pattern-bottom-mobile.svg) ,url(bg-pattern-top-mobile.svg);
	background-position: right -50px bottom -65px,left -50px top 0px;
    background-repeat:no-repeat,no-repeat;
}
:root{
	--source:url(icon-star.svg);
}
.rated img{
	margin-bottom:0.5rem;
	content: var(--source);
	margin-right:0.5rem;
}
.container{
  padding:1.5rem;
  padding-top: 1rem;
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
}

[class^="item"]{
	text-align: center;
}
.rated{
	background-color:  hsl(300, 24%, 96%);
	width: 90%;
	border-radius:8px;
	padding:1rem;
	margin:1rem auto;
	font-weight: 800;
	color: hsl(300, 43%, 22%);
}
.item1 h1{
	margin:2rem auto;
	font-size:2rem;
	font-weight:700;
	color: hsl(300, 43%, 22%);
}
.item1 p{
	font-size:0.9rem;
	line-height:1.5;
	font-weight:400;
	color: hsl(303, 10%, 53%);
}
.item3,.item4,.item5{
	background-color: hsl(300, 43%, 22%);
	margin:1rem auto;
	padding: 1.5rem;
  color: hsl(0, 0%, 90%);
	border-radius:8px;
	font-weight:400;
	font-size:13px;
}
.item3 p,.item4 p,.item5 p{
	text-align: left;
	line-height:1.5;
	margin-top:1rem;
}

.title{
	display: flex;
}
.title img{
	border-radius: 50%;
	margin-right:1rem;
	margin-top:1.2rem;
	width:2.5rem;
	height: 2.5rem;
}
.title h1{
	margin-top:1rem;
	line-height:1.5;
}
span{
	color: hsl(333, 80%, 67%);
}

@media screen and (min-width:1024px){
	.container{
		width:80%;
		margin:0 auto;
		flex-direction:row;
		justify-content: space-between;
	}
	body{
		background-image: url(bg-pattern-top-desktop.svg),url(bg-pattern-bottom-desktop.svg);
		background-position: left -50px top -65px,right 0px bottom -65px;
		background-repeat: no-repeat,no-repeat;
	}
	.item1{
		text-align: left;
	}
	.item1 h1{
		width: 60%;
		margin:2rem 0;
	}
	.item1 p{
		width: 75%;
		margin:2rem 0;
	}
	.item1,.item2{
		width:50%;
	}
	.item3,.item4,.item5{
		font-size:16px;
		width: 28%;
		margin:1rem 0;
	}
	.rated{
		width:70%;
	}
	.rated img{
		margin-bottom: 0;
	}
	.rated p{
		display: inline-block;
		margin-left:1rem;
		margin-top:0.15rem;
	}
	.r1{
		margin-left:0;
	}
	.r2{
       margin-left:3.5rem;
	}
	.r3{
		margin-left:7rem;
	}
	.item4{
		margin-top:2rem;
	}
	.item5{
		margin-top:3rem;
	}
	.item2{
		margin-top:2rem;
	}
	.item3,.item4,.item5{
		height:12rem;
	}
}